*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:80%;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
    padding: 1%;
}

.logo{
    width: 10%;
}

.img-responsive{
    width: 100%;
}


.text-right{
    text-align: right;
}

.menu ul{
    list-style-type: none;
}