*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:80%;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
    padding: 1%;
}

/*Head Section*/
.logo{
    border: 1px solid black;
    width: 10%;
    float: left;
}

.img-responsiv{
    width: 100%;
}


.text-right{
    text-align: right;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

.clear-fix{
    clear: both;
    float: none;
}
.menu{
    line-height: 60px;
}

.menu ul li a{
    color: #8C00FF;
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #410075;
}

/* CSS for food search section*/

.food-search{
    background-image: url(../Images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.text-center{
    text-align: center;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color: #8C00FF;
    color: white;
    cursor: pointer;

}

h2{
    color: #2E3848;
    font-size: 2rem;
}

.categories{
    padding: 4% 0;
}

.box-3{

    width: 28%;
    float: left;
    margin: 2%;
}

.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

.text-white{
    color: white;
}
h3{
    font-size: 1.5rem;
}

.img-curve{
    border-radius: 20px;
}


.food-menu-box{
    border: 1px solid black;
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu{
    background-color: #ececec;
    padding: 4%;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-desc{
    font-size: 1rem;
    color: #747dbc;
}